language: python
python:
  - "3.5"
  - "3.6"
# command to install dependencies
install: pip install -r requirements.txt

# command to run tests
before_script: 
- python api.py &
- sleep 20

script: python -m unittest discover -s tests
